.banner{
	background-image: url('../images/banner/banner3.png');
	height: 650px;
}
.banner-text{}
.view{
	color: #000;
	padding:20px;
}
.view-left{
    width: 40%;
    display: inline-block;
    margin-left: 200px;
}
.view-left img {
	height: 50%;
    width: 80%;
}
.view-right{
	width: 35%;
    display: inline-block;
}
.view-right h2{
	font-size: 45px;
}
.footer{
	background-color: #000;
	color: #fff;
}
.foot-left{
	margin-left: 150px;
    padding-top: 50px;
    width: 40%;
    padding-right: 100px;
    display: inline-block;
}
.foot-right{
	width: 20%;
    display: inline-block;
}
.service{height: 300px; margin-left: 100px}
.service h2{
	font-size: 25px;
    text-align: center;
    margin: 50px;
}
.sect{
	width: 250px;
    float: left;
    margin: 10px;
	text-align: center;
}
.sect img{
	width: 30%;
    height: 20%;
}
.sect h3{
	margin: 5px;
    font-size: 20px;
    font-weight: bold;
}
.sect h6{
	margin: 5px;
    font-size: 17px;
    font-weight: bold;
}